.main_title{
    text-align: center;
}

.main_title h1 {
    font-size: 90px;
    margin-bottom: 20px;
}

.main_title p {
    font-size: 1.4em;
    margin: 5px;
}

.contact_details{
    display: flex;
    justify-content: space-around;
    padding: 100px 40px;
}

.contact_details_box{
    display: flex;
    align-items: center;
}

.contact_details_title{
    font-weight: 600;
    font-size: 26px;
    margin-top: 0;
}
.contact_details svg{
    font-size: 36px;
}

.icon_wrapper{
padding: 12px;
background-color: rgba(0, 0, 0, 0.6);
margin-right: 24px;
border: solid 2px #fff;
border-radius: 8px;
}

@media (max-width: 600px) {
    .contact_details{
        flex-direction: column;
    }

    .main_title h1 {
        font-size: 24px;
    }

    .contact_details_title{
        font-size: 18px;
    }
    
    .contact_details_box{
        margin: 8px 0;
    }
}